<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-4/css/bootstrap.min.css" rel="stylesheet">

    <title>Boiler Tracks!</title>
</head>
<body >
<!--  <h1>Hello, world!</h1> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">BoilerTracks</a>
    <%
        console.log("playerName: "+playerName);
    if (playerName != ''){
        %>
    <a class="navbar-brand" href="#"><%=playerName%></a>
    <%
    }
    %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <%
      if (playerName != ''){
      %>

        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Sign Out</a>
        </li>

      <%
      }
      %>
    </ul>
  </div>
</nav>


<style type="text/css">
  




body {
  background: black;
}

/*battleship board display*/
div#board {
  position: relative;
  width: 350px;
  height: 334px;
  margin: auto;
  background: url("../../images/game board white bckrnd.png") no-repeat;
}

/*battleship message*/
h1#messageArea {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(83, 175, 19);
}

/*battleship table*/
table {
  position: relative;
    width: 340px;
    height: 360px;
    border-spacing: 0;
    /*background-color: rgb(152, 207, 113);*/
    z-index: -100;
}

/*battleship table rows*/
tr {
  height: 29px;

}
/*battleship table data cell*/
td {
  width: 31px;
  height: 29px;


}

/*battleship form*/
form {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 10px;
  /*background-color: rgb(83, 175, 19);*/
  z-index: 100;
}

/*battleship form input*/
form input {
  /*background-color: rgb(152, 207, 113);*/
  /*border-color: rgb(83, 175, 19);*/
  font-size: 1em;
}
.form-control {
  width: 100% !important;
  margin-right: 5%;
}
/*hit or miss*/
.hit {
  background: url('http://codifyacademy.com/project_battleship_demo/css/../img/ship.png') no-repeat center center;
}
.miss {
  background: url('http://codifyacademy.com/project_battleship_demo/css/../img/miss.png') no-repeat center center;
}


</style>

      <!-- Latest compiled and minified bootstrap CSS -->

    <!-- positioning -->
    <table style="width:800px; float:top;">
        <tr>
            <td align="center">
               My Board
            </td>
            <td align="center">
                Enemy's Board
            </td>
        </tr>
    <tr>
        <td>
    <!-- battleship board -->
    <div id="board" style="width: 100%; display: table;">
        <div style="display: table-row">
      <table> <!-- -1 columns are not used --!>
        <!-- battleship row -1 SHOULD NEVER BE ACCESSED!-->
          <tr>
              <td></td>
          </tr>
          <!-- battleship row 0 -->
          <tr>
          <td id="0-1"></td><td id="00"></td><td id="01"></td><td id="02"></td><td id="03"></td><td id="04"></td><td id="05"></td><td id="06"></td><td id="07"></td><td id="08"></td><td id="09"></td>
        </tr>
        <!-- battleship row 1 -->
        <tr>
            <td id="1-1"></td><td id="10"></td><td id="11"></td><td id="12"></td><td id="13"></td><td id="14"></td><td id="15"></td><td id="16"></td><td id="17"></td><td id="18"></td><td id="19"></td>
        </tr>
        <!-- battleship row 2 -->
        <tr>
            <td id="2-1"></td><td id="20"></td><td id="21"></td><td id="22"></td><td id="23"></td><td id="24"></td><td id="25"></td><td id="26"></td><td id="27"></td><td id="28"></td><td id="29"></td>
        </tr>
        <!-- battleship row 3 -->
        <tr>
            <td id="3-1"></td><td id="30"></td><td id="31"></td><td id="32"></td><td id="33"></td><td id="34"></td><td id="35"></td><td id="36"></td><td id="37"></td><td id="38"></td><td id="39"></td>
        </tr>
        <!-- battleship row 4 -->
        <tr>
            <td id="4-1"></td><td id="40"></td><td id="41"></td><td id="42"></td><td id="43"></td><td id="44"></td><td id="45"></td><td id="46"></td><td id="47"></td><td id="48"></td><td id="49"></td>
        </tr>
        <!-- battleship row 5 -->
        <tr>
            <td id="5-1"></td><td id="50"></td><td id="51"></td><td id="52"></td><td id="53"></td><td id="54"></td><td id="55"></td><td id="56"></td><td id="57"></td><td id="58"></td><td id="59"></td>
        </tr>
        <!-- battleship row 6 -->
        <tr>
            <td id="6-1"></td><td id="60"></td><td id="61"></td><td id="62"></td><td id="63"></td><td id="64"></td><td id="65"></td><td id="66"></td><td id="67"></td><td id="68"></td><td id="69"></td>
        </tr>
          <!-- battleship row 7 -->
          <tr>
              <td id="7-1"></td><td id="70"></td><td id="71"></td><td id="72"></td><td id="73"></td><td id="74"></td><td id="75"></td><td id="76"></td><td id="77"></td><td id="78"></td><td id="79"></td>
          </tr>
          <!-- battleship row 8 -->
          <tr>
              <td id="8-1"></td><td id="80"></td><td id="81"></td><td id="82"></td><td id="83"></td><td id="84"></td><td id="85"></td><td id="86"></td><td id="87"></td><td id="88"></td><td id="89"></td>
          </tr>
          <!-- battleship row 9 -->
          <tr>
              <td id="9-1"></td><td id="90"></td><td id="91"></td><td id="92"></td><td id="93"></td><td id="94"></td><td id="95"></td><td id="96"></td><td id="97"></td><td id="98"></td><td id="99"></td>
          </tr>
          <!-- battleship row 10 SHOULD NEVER BE ACCESSED!-->
          <tr>
              <td id="10-1"></td><td id="100"></td><td id="101"></td><td id="102"></td><td id="103"></td><td id="104"></td><td id="105"></td><td id="106"></td><td id="107"></td><td id="108"></td><td id="109"></td>
          </tr>
      </table>
        </div>
    </div>
    </td>
        <td>
            <div id="board" style="width: 100%; display: table;">
                <div style="display: table-row">
            <table> <!-- -1 columns are not used --!>
                <!-- battleship row -1 SHOULD NEVER BE ACCESSED!-->
                <tr>
                    <td></td>
                </tr>
                <!-- battleship row 0 -->
                <tr>
                    <td id="10-1"></td><td id="100"></td><td id="101"></td><td id="102"></td><td id="103"></td><td id="104"></td><td id="105"></td><td id="106"></td><td id="107"></td><td id="108"></td><td id="109"></td>
                </tr>
                <!-- battleship row 1 -->
                <tr>
                    <td id="11-1"><td id="110"></td><td id="111"></td><td id="112"></td><td id="113"></td><td id="114"></td><td id="115"></td><td id="116"></td><td id="117"></td><td id="118"></td><td id="119"></td>
                </tr>
                <!-- battleship row 2 -->
                <tr>
                    <td id="12-1"><td id="120"></td><td id="121"></td><td id="122"></td><td id="123"></td><td id="124"></td><td id="125"></td><td id="126"></td><td id="127"></td><td id="128"></td><td id="129"></td>
                </tr>
                <!-- battleship row 3 -->
                <tr>
                    <td id="13-1"><td id="130"></td><td id="131"></td><td id="132"></td><td id="133"></td><td id="134"></td><td id="135"></td><td id="136"></td><td id="137"></td><td id="38"></td><td id="139"></td>
                </tr>
                <!-- battleship row 4 -->
                <tr>
                    <td id="14-1"><td id="140"></td><td id="141"></td><td id="142"></td><td id="143"></td><td id="144"></td><td id="145"></td><td id="146"></td><td id="147"></td><td id="48"></td><td id="149"></td>
                </tr>
                <!-- battleship row 5 -->
                <tr>
                    <td id="15-1"><td id="150"></td><td id="51"></td><td id="52"></td><td id="153"></td><td id="154"></td><td id="155"></td><td id="156"></td><td id="157"></td><td id="158"></td><td id="159"></td>
                </tr>
                <!-- battleship row 6 -->
                <tr>
                    <td id="16-1"><td id="60"></td><td id="61"></td><td id="62"></td><td id="163"></td><td id="164"></td><td id="165"></td><td id="166"></td><td id="167"></td><td id="168"></td><td id="169"></td>
                </tr>
                <!-- battleship row 7 -->
                <tr>
                    <td id="17-1"><td id="70"></td><td id="71"></td><td id="172"></td><td id="173"></td><td id="174"></td><td id="175"></td><td id="176"></td><td id="177"></td><td id="178"></td><td id="179"></td>
                </tr>
                <!-- battleship row 8 -->
                <tr>
                    <td id="18-1"><td id="180"></td><td id="181"></td><td id="182"></td><td id="183"></td><td id="184"></td><td id="185"></td><td id="186"></td><td id="187"></td><td id="188"></td><td id="189"></td>
                </tr>
                <!-- battleship row 9 -->
                <tr>
                    <td id="19-1"><td id="190"></td><td id="191"></td><td id="192"></td><td id="193"></td><td id="194"></td><td id="195"></td><td id="196"></td><td id="197"></td><td id="198"></td><td id="199"></td>
                </tr>
                <!-- battleship row 10 SHOULD NEVER BE ACCESSED! -->
                <tr>
                    <td id="110-1"></td><td id="1100"></td><td id="1101"></td><td id="1102"></td><td id="1103"></td><td id="1104"></td><td id="1105"></td><td id="1106"></td><td id="1107"></td><td id="1108"></td><td id="1109"></td>
                </tr>
            </table>
        </div>
    </div>

    </td>
</tr>
    </table>

<div style="width: 80%;  float: left; display: table;">
    <div style="display: table-row">
       <!-- <div style="width: 600px; display: table-cell;"> Left </div> -->
       <!-- LEFT SID COMPONENTS  -->
        <div class="card text-white bg-dark mb-3" style="width: 500px; display: table-cell;">
          <div class="card-header">Enter Your Move Here  ....  i.e. (0,4) (5,3)</div>
          <div class="card-body">
            <%if(turns != 0){%>
            <form class="form-group" action="/attack">
                <div style="float:left;">
              <label class="col-form-label col-form-label-lg" for="inputLarge">X Coordinate</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter X Coordinate" id="X" name="X" required>
                </div>
                <div style="float:left;">
                <label class="col-form-label col-form-label-lg" for="inputLarge">Y Coordinate</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter Y Coordinate" id="Y" name="Y" required>
                </div>
              <div style="float:right;">
                  <input type="submit" name="fire" class="btn btn-primary" value="Fire!">
              </div>
            </form>
            <%}else{%>
              <form class="form-group" action="/place">
                  <div style="float:left;">
                      <label class="col-form-label col-form-label-lg" for="inputLarge">X Coordinate</label>
                      <input class="form-control form-control-lg" type="text" placeholder="Enter X Coordinate" id="X" name="X" required>
                  </div>
                  <div style="float:left;">
                      <label class="col-form-label col-form-label-lg" for="inputLarge">Y Coordinate</label>
                      <input class="form-control form-control-lg" type="text" placeholder="Enter Y Coordinate" id="Y" name="Y" required>
                  </div>
                  <div style="float:left;">
                      <label class="col-form-label col-form-label-lg" for="inputLarge">Ship Length</label>
                      <%var temp = "(";
                        temp = temp + shipsLeft[i];
                        for(var i = 1; i < shipsLeft.length; i++){
                            temp = temp + "," + shipsLeft[i];
                        }
                        temp = temp+")";
                        temp = "Enter Length: "+temp;
                      %>
                      <input class="form-control form-control-lg" type="text" placeholder=<%=temp%> id="L" name="L" required>
                  </div>
                  <div style="float:right;">
                      <input type="submit" name="place" class="btn btn-primary" value="Place!">
                  </div>
              </form>
              <%}%>



          </div>
        </div>






        <!-- <div style="display: table-cell;"> Right </div> -->
        <!-- RIGHT SIDE COMPONENT -->
        <div class="card bg-light mb-3" style="display: table-cell;">
          <div class="card-header">Game Console!</div>
          <div class="card-body">
            <h4 class="card-title">Your Move...</h4>
            <p id=xyOutput class="card-text"></p>

          </div>
        </div>
    </div>
</div>

<!-- <script>
          function xyInput() {

          var x = document.getElementById("X").value;
          var y = document.getElementById("Y").value;
          document.getElementById("xyOutput").innerHTML = x + " , " +  y;   



          }
        </script> -->




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</>
</html>